<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="40016a38-0393-4c17-a367-33714573ca83" Publisher="CN=heLLZxMaKeR" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Twindows</DisplayName>
    <PublisherDisplayName>heLLZxMaKeR</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Twindows.App">
      <VisualElements DisplayName="Twindows" Logo="Assets\twitter150.png" SmallLogo="Assets\SmallLogo.png" Description="Twindows" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1ee1d6" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>